/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 720px;
}

.hero, .activities, .guide {
    width: 100%;
}

.hero {
    background-image: url("./images/torshov.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    min-height: 343px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #FFFFFF;
}

.hero-title {
    font-size: 32px;
    background: #1D3557;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 0;
    max-width: 225px;
    max-height: 34px;
}

.hero-subtitle {
    background: #457B9D;
    font-size: 19px;
    padding: 5px 0;
    border-radius: 10px;
    margin: 11px 0 0 0;
    max-width: 412px;
    max-height: 52px;
}

.activities {
    background: #F1FAEE;
    min-height: 378px;
}

.activities-title {
    margin: 0;
}

.activities-list {
    display: flex;
    justify-content: space-around;
}

.activities-img {
    width: 100px;
}
