/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 720px;
}

.hero, .activities, .guide {
    max-width: 100%;
}

h3, h4 {
    font-weight: 700;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

.hero {
    background-image: url("./images/torshov.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 120px 154px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.hero-title {
    font-size: 32px;
    background: #1D3557;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 0;
    line-height: 1;
}

.hero-subtitle {
    background: #457B9D;
    font-size: 19px;
    padding: 5px 29px;
    border-radius: 10px;
    margin: 11px 0 0 0;
}

.activities {
    background: #F1FAEE;
    padding: 39px 34px;
    color: #1D3557;
}

.activities-title {
    margin: 0;
    margin-bottom: 53px;
}

.activities-list {
    display: flex;
    justify-content: space-around;
}

.activities-item {
    width: 198px;
    font-size: 16px;
}

.activities-item-img{
    width: 100px;
    border-radius: 50%;
}

.activities-item-title {
    margin: 22px 0 16px 0;
}

.activities-item-content {
    margin: 0;
}

.guide {
    background: #FFFFFF;
    padding: 50px 0;
}

.guide-card {
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 23px 13px;
    background-color: #A8DADC;
    border-radius: 10px;
    border-bottom: 6px solid #1D3557;
    color: #1D3557;
    margin: 0 auto;
}

.guide-img {
    width: 180px;
    border-radius: 10px;
}

.guide-info {
    padding: 26px 11px;
}

.guide-title {
    margin: 0;
}

.guide-text {
    font-style: italic;
}
